@font-face {
    font-family: 'Noto Sans Regular';
    src: url('noto-sans-regular.ttf') format('truetype');
  }
  
  body {
    background-color: #282a36;
    font-family: 'Noto Sans Regular', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 0;
  }
  
  header {
    background-color: #38005e;
    color: rgb(255, 255, 255);
    padding: 18px;
    z-index: 4;
    font-family: 'Noto Sans Regular', sans-serif;
  }
  
  .header .toggle-sidebar img {
    width: 22%;
    height: auto;
  }
  
  button#toggle-sidebar {
    border: none;
    padding: 0;
    cursor: pointer;
    position: absolute;
    background-color: #38005e;
    top: 4%;
    right: 4%;
  }
  
  button#toggle-sidebar img {
    width: 1.2%;
    height: 1.2%;
  }
  
  h1 {
    font-size: 1.5rem;
    margin: 0;
    font-family: 'Noto Sans Regular', sans-serif;
  }
  
  html{
    height: 100%;
  }
  
  main {
    height: 100%;
    background-color: #13001f;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    font-family: 'Noto Sans Regular', sans-serif;
  }
  
  button {
    font-family: 'Noto Sans Regular', sans-serif;
  }
  
  
  .sidebar.active {
    transform: translateX(0%);
  }
  
  .sidebar-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
  }
  
  .sidebar-button img {
    width: 20%;
    height: 20%;
    margin-right: 2%;
    bottom: -20%;
  }
  
  button#toggle-sidebar {
    padding: 2%;
    width: 16%;
    height: 16%;
  }
  
  button#toggle-sidebar img {
    width: 115%;
    height: 115%;
  }
  
  .chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .message-container {
    flex: 1;
    padding: 65;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    scrollbar-width: thin;
    scrollbar-color: #25003b #13001f;
    height: 0;
    transition: width 0.3s ease-out, margin-left 0.3s ease-out;
  }
  
  .message-container.active {
    width: 65%;
    margin-left: 82%;
    height: calc(100% - 30px);
    overflow-y: scroll;
  }
  
  .message-container::-webkit-scrollbar {
    width: 10%;
  }
  
  .message-container::-webkit-scrollbar-track {
    background-color: #13001f;
  }
  
  .message-container::-webkit-scrollbar-thumb {
    background-color: #25003b;
    border-radius: 1.6%;
  }
  
  .message-container::-webkit-scrollbar-thumb:hover {
    background-color: #1f0031;
  }
  
  .message-container::-webkit-scrollbar-thumb:active {
    background-color: #1b002b;
  }
  
  /* Style for the username in messages */
  .message {
    left:0%
  }
  
  .user-info {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 16%;
    bottom: 8%;
  }
  
  .user-info .avatar {
    width: 8%;
    height: 8%;
    border-radius: 50%;
    bottom: 50px;
  }
  
  .message {
    left:0%
  }
  
  .message.sent #message-username {
    font-weight: bold;
    color: #ffff;
    top: -25%; /* Adjust the top value to move the username above the message box */
    right: 26%;
    position: relative; /* Position the username absolutely */
  }
  
  /* Add spacing between avatar and username */
  .user-info .avatar + #message-username {
    margin-left: 11%;
  }
  
  /* Style for sent messages */
  .message.sent .user-info {
    justify-content: flex-end;
    align-self: flex-end;
    margin-right: -10%;
  }
  
  .message.received .user-info {
    align-self: flex-start;
    right: 10%;
  }
  
  .message.sent #message-username {
    margin-right: 10%;
    top: -55px;
  }
  
  
  .message.sent .avatar {
    right: 1px;
  }
  
  .message {
    margin-bottom: 8%;
    padding: 20%;
    border-radius: 32%;
    max-width: 50%;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    display: inline-block;
    box-sizing: border-box;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis; 
    flex-shrink: 0; 
    transition: width 0.3s ease-out, margin-left 0.3s ease-out;
  }
  
  .message.active {
    margin-bottom: 4%;
    padding: 4%;
    border-radius: 1.2%;
    font-family: 'Noto Sans Regular', sans-serif;
    max-width: 50%;
    min-width: 10%;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    width: 65%;
    margin-left: 82%;
  }
  
  .sent {
    background-color: #f0a12a;
    color: rgb(0, 0, 0);
    text-align: left;
    margin-left: auto;
    margin-right: 6%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-self: flex-end;
    flex-direction: row-reverse;
    z-index: 0;
  }
  
  .received {
    background-color: #38005e;
    color: rgb(255, 255, 255);
    text-align: left;
    align-self: flex-start;
    z-index: 0;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    padding: 5%;
    border-radius: 8%;
    background-color: #38005e;
    margin-left: 6%;
    margin-bottom: 10%;
    flex-wrap: wrap;
    overflow: hidden;
    transition: width 0.3s ease-out, margin-left 0.3s ease-out;
    width: 95%;
  }
  
  .sidebar.active + .chat-container .input-container {
    width: 82%;
    margin-left: 82%;
    transition-delay: -0.05s;
  }
  
  .sidebar.active + .chat-container .input-container.active {
    width: 82%;
    margin-left: 82%;
  }
  
  #sendButton {
    display: contents;
    position: absolute;
    padding: 10% 20%;
    background-color: #5e007500;
    width: -0%;
    border: none;
    cursor: pointer;
    white-space: nowrap;
  }
  
  #sendButton img {
    height: 8.8%;
    width: 8.8%;
  }
  
  .sidebar button {
    cursor: pointer;
    background-color: transparent;
    border: none; 
  }
  
  .sidebar button img {
    height: 28%;
    width: 28%;
    margin-right: 2%;
  }
  
  @font-face {
    font-family: 'Noto Sans Regular';
    src: url('noto-sans-regular.ttf') format('truetype');
  }
  
  body {
    background-color: #282a36;
    font-family: 'Noto Sans Regular', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  header {
    background-color: #38005e;
    color: rgb(255, 255, 255);
    padding: 18px;
    z-index: 2;
    font-family: 'Noto Sans Regular', sans-serif;
  }
  
  .header .toggle-sidebar img {
    width: 55px;
    height: 55px;
    height: auto;
  }
  
  button#toggle-sidebar {
    border: none;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 0.001%;
    right: 0.001%;
    background-color: #38005e;
    top: 10px;
    right: 10px;
  }
  
  button#toggle-sidebar img {
    width: 3px;
    height: 3px;
  }
  
  h1 {
    font-size: 1.5rem;
    margin: 0;
    font-family: 'Noto Sans Regular', sans-serif;
  }
  
  html{
    height: 100%;
  }
  
  main {
    height: 100%;
    background-color: #13001f;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    font-family: 'Noto Sans Regular', sans-serif;
  }
  
  button {
    font-family: 'Noto Sans Regular', sans-serif;
  }
  
  .sidebar {
    background-color: #2c0046;
    color: #ffffff;
    width: 211px;
    height: 83%;
    bottom: 6.8%;
    border-radius: 20px;
    position: fixed;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-107%);
    z-index: 5;
  }
  
  .sidebar.active {
    transform: translateX(-7%);
  }
  
  button#toggle-sidebar {
    padding: 5px;
    width: 40px;
    height: 40px;
  }
  
  button#toggle-sidebar img {
    width: 115%;
    height: 115%;
  }
  
  .chat-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .message-container {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    scrollbar-width: thin;
    scrollbar-color: #25003b #13001f;
    height: 0;
    transition: width 0.3s ease-out, margin-left 0.3s ease-out;
    position: relative;
  }
  
  .message-container.active {
    width: 65%;
    margin-left: 205px;
    height: calc(100% - 30px);
    overflow-y: scroll;
  }
  
  .message-container::-webkit-scrollbar {
    width: 25px;
  }
  
  .message-container::-webkit-scrollbar-track {
    background-color: #13001f;
  }
  
  .message-container::-webkit-scrollbar-thumb {
    background-color: #25003b;
    border-radius: 4px;
  }
  
  .message-container::-webkit-scrollbar-thumb:hover {
    background-color: #1f0031;
  }
  
  .message-container::-webkit-scrollbar-thumb:active {
    background-color: #1b002b;
  }
  
  .user-info {
    top: 105%;
    left: 100%;
    margin-left: 10px;
  }
  
  .avatar {
    position: absolute;
    bottom: 90%;
    margin-top: -75%;
    border-radius: 50%;
    margin-right: 40px;
    background-color: transparent;
    border: none;
  }
  
  .avatar {
    top: 0;
  }
  
  .message.received .avatar {
    top: 65px;
    right: 60%;
  }
  
  .message.received #message-username {
    font-weight: bold;
    color: #ffffff;
    top: 5px;
    right: 45px;
    position: relative;
  }
  
  .message {
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    position: relative;
    border-radius: 4px;
    top: 70%;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    display: inline-block;
    box-sizing: border-box;
    word-break: break-word;
    overflow: visible;
    text-overflow: ellipsis; 
    flex-shrink: 0; 
    transition: width 0.3s ease-out, margin-left 0.3s ease-out;
  }
  
  .message.active {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    font-family: 'Noto Sans Regular', sans-serif;
    max-width: 50%;
    min-width: 10%;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    width: 65%;
    margin-left: 205px;
  }
  
  .message.double {
    margin-left: 150px;
  }
  
  .message.active.double {
    margin-left: 300px;
  }
  
  .sent {
    background-color: #f0a12a;
    color: rgb(0, 0, 0);
    text-align: left;
    margin-left: auto;
    margin-right: 15px;
    border-radius: 50px 50px 2px 50px;
    margin-right: 60px;
    max-width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-self: flex-end;
    flex-direction: row-reverse;
    z-index: 0;
  }
  
  .received {
    background-color: #38005e;
    color: rgb(255, 255, 255);
    text-align: left;
    max-width: 40%;
    margin-right: 83%;
    border-radius: 25px 25px 25px 2px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-self: flex-end;
    flex-direction: row-reverse;
    z-index: 0;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    padding: 13px;
    border-radius: 20px;
    background-color: #38005e;
    margin-left: 15px;
    margin-bottom: 23px;
    flex-wrap: wrap;
    overflow: hidden;
    transition: width 0.3s ease-out, margin-left 0.3s ease-out;
    width: 95%;
    max-height: 8%;
    z-index: 5;
  }
  
  .sidebar.active + .chat-container .input-container {
    width: 82%;
    margin-left: 15%;
    transition-delay: -0.05s;
  }
  
  .sidebar.active + .chat-container .input-container.active {
    width: 82%;
    margin-left: 15%;
  }
  
  #sendButton {
    padding: 0.4% 3.2%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    white-space: nowrap;
  }
  
  #sendButton img {
    height: 25px;
    width: 25px;
  }
  
  #fileButton {
    left: 0;
  }
  
  #fileButton {
    padding: 8px 8px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    margin-right: 0px;
  }
  
  #fileButton img {
    height: 25px;
    width: 25px;
  }
  
  #micButton {
    padding: 8px 2px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    margin-right: 0px;
  }
  
  #micButton img {
    height: 26px;
    width: 26px;
  }
  
  #hamburgerButton {
    padding: 1px 2px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  #hamburgerButton img {
    height: 22px;
    width: 22px;
  }
  
  .sidebar button {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }
  
  .sidebar button img {
    width: 77px;
    height: 77px;
    margin-right: 5px;
  }
  
  .sidebar .button-text {
    color: #ffffff;
    align-self: flex-start;
    font-size: 23px;
  }
  
  /* CSS for the delete button */
  .delete-button {
    cursor: pointer;
    margin-left: -125px;
    margin-bottom: 15%;
    opacity: 0;
    transition: opacity 0.2s;
  }
  
  /* Show the delete button when hovering over a sent message */
  .message.sent:hover .delete-button {
    opacity: 1;
  }
  
  
  textarea {
    flex: 1;
    padding: 9px;
    border: none;
    border-radius: 4px;
    background-color: #13001f;
    color: #fff;
    margin-right: 10px;
    resize: vertical;
    overflow-y: auto;
    font-family: 'Noto Sans Regular', sans-serif;
    max-height: 60%;
  }
  
  textarea::-webkit-scrollbar {
    width: 15px;
  }
  
  textarea::-webkit-scrollbar-track {
    background-color: #13001f;
  }
  
  textarea::-webkit-scrollbar-thumb {
    background-color: #25003b;
    border-radius: 4px;
  }
  
  textarea::-webkit-scrollbar-thumb:hover {
    background-color: #1f0031;
  }
  
  textarea::-webkit-scrollbar-thumb:active {
    background-color: #1b002b;
  }
  
  .settingsTab {
    position: fixed;
    bottom: -100%;
    left: 20%;
    right: 0;
    background-color: #25003b;
    color: #ffffff;
    height: 60%;
    width: 50%;
    padding: 20px;
    border-radius: 20px;
    transition: bottom 0.3s ease-in-out, margin-left 0.3s ease-in-out;
    z-index: 2;
  }
  
  .settingsTab.active {
    bottom: 20%;
  }
  
  .settingsTab.push {
    margin-left: 10%;
  }
  
  .settingsTab.double {
    margin-left: 10%;
  }
  
  .settingsTab.push.double {
    margin-left: 20%;
  }
  
  .settingsTab-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #38005e;
    color: #ffffff;
    padding: 10px;
    border-radius: 20px 20px 0 0;
    margin-bottom: 20px;
    z-index: 3;
  }
  
  .settingsTab-header h2 {
    font-size: 1.5rem;
    margin: 0;
    font-family: 'Noto Sans Regular', sans-serif;
  }
  
  .settingsTab-header button {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    background-color: transparent;
    border: none;
    position: absolute;
    cursor: pointer;
    top: 0px;
    right: 0px;
  }
  
  .settingsTab-header button img {
    width: 42px;
    height: 42px;
    margin-right: 5px;
    background-color: transparent;
    border: none;
    position: absolute;
    cursor: pointer;
    top: 3px;
    right: 0px;
  }
  
  .Settings {
    position: absolute;
    right: 87.3%;
    bottom: 0%;
    background-color: #2c0046;
    color: #ffffff;
    height: 80%;
    width: 7%;
    padding: 20px;
    border-radius: 0px 0px 0px 20px;
    transition: bottom 0.3s ease-in-out, margin-left 0.3s ease-in-out;
    z-index: 2;
  }
  
  #aiSettings {
    right: 14px;
    background-color: transparent;
    border: none;
    position: absolute;
    cursor: pointer;
  }
  
  #aiSettings img {
    width: 50px;
    height: 50px;
  }
  
  #yumeSettings {
    right: 14px;
    top: 80px;
    background-color: transparent;
    border: none;
    position: absolute;
    cursor: pointer;
  }
  
  #yumeSettings img {
    width: 50px;
    height: 50px;
  }
  
  #uiSettings {
    right: 14px;
    top: 140px;
    background-color: transparent;
    border: none;
    position: absolute;
    cursor: pointer;
  }
  
  #uiSettings img {
    width: 50px;
    height: 50px;
  }
  
  /*AI tab*/
  .settingsTab {
    margin: 0;
  }
  
  /* Style for the slider track (blue) */
  .slider {
    -webkit-appearance: none;
    width: 50%;
    height: 10px;
    background: #13001f; /* Blue color */
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  /* Style for the slider thumb (red) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background:  #5e0075;
    cursor: pointer;
  }
  
  .slider::-webkit-slider-thumb:hover {
    background: #6e0085; 
  }
  
  
  /* Style for the number input value text (red) */
  .slider-value::-webkit-inner-spin-button, 
  .slider-value::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .slider-value[type=number] {
    -moz-appearance: textfield;
  }
  
  .slider-value {
    width: 40px;
    text-align: center;
    background-color: #13001f;
    color: #ffffff;
    border: 10px;
  }
  
  .AISet {
    display: flex;
    position: absolute;
    flex-direction: column;
    height: 100%;
    width: 50%;
    left: 30%;
    top: 20%;
    margin-left: -16%;
  }
  
  .openAIKeySection {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    left: 30%;
    top: 0%;
  }
  
  .openAIKeySection.active {
    display: none;
  }
  
  .openAIKeySection h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .openAIKeySection input {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #13001f;
    color: #fff;
    margin-bottom: 5px;
    width: 300px;
    max-width: 50%;
    font-family: 'Noto Sans Regular', sans-serif;
  
  }
  
  .openAIKeySection img {
    width: 100px;
    height: 100px;
    bottom: 53%;
  }
  
  .openAIKeySection label {
    font-size: medium;
    margin-bottom: 5%;
  }
  
  
  .openAIKeySection button {
    padding: 10px 20px;
    margin: 10px;
    bottom: 20px;
    background-color: #5e0075;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
    font-size: 1rem;
    color: #fff;
    font-family: 'Noto Sans Regular', sans-serif;
  }
  
  .openAIKeySection button:hover {
    background-color: #6e0085;
  }
  
  /*Yume tab*/
  .yumeTab {
    display: none;
    background-color: #25003b;
    position: absolute;
    flex-direction: column;
    height: 80%;
    width: 50%;
    left: 30%;
    top: 20%;
    margin-left: -16%;
  }
  
  .yumeTab.active {
    display: flex;
  }
  
  .yumeTab h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .yumeTab input {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #13001f;
    color: #fff;
    margin-bottom: 5px;
    width: 300px;
    max-width: 50%;
    font-family: 'Noto Sans Regular', sans-serif;
  
  }
  
  .yumeTab img {
    width: 100px;
    height: 100px;
    bottom: 53%;
  }
  
  .yumeTab label {
    font-size: large;
    margin-bottom: 5%;
  }
  
  
  .yumeTab button {
    padding: 10px 20px;
    margin: 10px;
    bottom: 20px;
    background-color: #5e0075;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
    font-size: 1rem;
    color: #fff;
    font-family: 'Noto Sans Regular', sans-serif;
  }
  
  .yumeTab button:hover {
    background-color: #6e0085;
  }
  
  /*UI tab*/
  .uiTab {
    display: none;
    background-color: #25003b;
    position: absolute;
    flex-direction: column;
    height: 80%;
    width: 50%;
    left: 30%;
    top: 20%;
    margin-left: -16%;
  }
  
  .uiTab.active {
    display: flex;
  }
  
  .uiTab h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .uiTab input {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #13001f;
    color: #fff;
    margin-bottom: 5px;
    width: 300px;
    max-width: 50%;
    font-family: 'Noto Sans Regular', sans-serif;
  
  }
  
  .uiTab img {
    width: 100px;
    height: 100px;
    bottom: 53%;
  }
  
  .uiTab label {
    font-size: medium;
    margin-bottom: 5%;
  }
  
  
  .uiTab button {
    padding: 10px 20px;
    margin: 10px;
    bottom: 20px;
    background-color: #5e0075;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
    font-size: 1rem;
    color: #fff;
    font-family: 'Noto Sans Regular', sans-serif;
  }
  
  .uiTab button:hover {
    background-color: #6e0085;
  }
  
  /*userTab */
  .userTab {
    position: fixed;
    top: -100%;
    left: 20%;
    right: 0;
    background-color: #25003b;
    color: #ffffff;
    height: 60%;
    width: 50%;
    padding: 20px;
    border-radius: 20px;
    transition: top 0.3s ease-in-out, margin-left 0.3s ease-in-out;
    z-index: 2;
  }
  
  .userTab.active {
    top: 14%;
  }
  
  .userTab.push {
    margin-left: 10%;
  }
  
  .userTab.double {
    margin-left: 10%;
  }
  
  .userTab.push.double {
    margin-left: 20%;
  }
  
  .userTab-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #38005e;
    color: #ffffff;
    padding: 10px;
    border-radius: 20px 20px 0 0;
    margin-bottom: 20px;
    z-index: 2;
  }
  
  .userTab-header h2 {
    font-size: 1.5rem;
    margin: 0;
    font-family: 'Noto Sans Regular', sans-serif;
  }
  
  .userTab-header button {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    background-color: transparent;
    border: none;
    position: absolute;
    cursor: pointer;
    top: 0px;
    right: 0px;
  }
  
  .userTab-header button img {
    width: 42px;
    height: 42px;
    margin-right: 5px;
    background-color: transparent;
    border: none;
    position: absolute;
    cursor: pointer;
    top: 3px;
    right: 0px;
  }
  
  
  .loginTab {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .loginTab h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .loginTab input {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #13001f;
    color: #fff;
    margin-bottom: 10px;
    width: 20%;
    font-family: 'Noto Sans Regular', sans-serif;
  
  }
  
  .loginTab img {
    width: 100px;
    height: 100px;
    bottom: 50%;
  }
  
  .loginTab p {
    font-size: large;
    margin-bottom: 20%;
  }
  
  .uploadButton {
    margin-top: 50px;
  }
  
  .loginTab button {
    padding: 10px 20px;
    margin: 10px;
    bottom: 20px;
    background-color: #5e0075;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
    font-size: 1rem;
    color: #fff;
    font-family: 'Noto Sans Regular', sans-serif;
  }
  
  .loginTab button:hover {
    background-color: #6e0085;
  }
  
  /*debug tab */
  .debugTab {
    position: fixed;
    top: 12%;
    bottom: -100%;
    left: -5%;
    margin-left: -15%;
    right: 0;
    background-color: #25003b;
    color: #ffffff;
    height: 67%;
    width: 15%;
    padding: 20px;
    border-radius: 20px;
    transition: bottom 0.3s ease-in-out, margin-left 0.3s ease-in-out;
    z-index: 0;
  }
  
  .debugTab.active {
    margin-left: 4%;
  }
  
  .debugTab.push {
    margin-left: 0%;
  }
  
  .debugTab.push.active {
    margin-left: 20%;
  }
  
  /* Debug tab header */
  .debugTab-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #38005e;
    color: #ffffff;
    padding: 10px;
    border-radius: 20px 20px 0 0;
    margin-bottom: 20px;
    z-index: 2;
  }
  
  .debugTab-header h2 {
    font-size: 1.5rem;
    margin-left: 5px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Noto Sans Regular', sans-serif;
  }
  
  .debugTab-header button {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    background-color: transparent;
    border: none;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
  }
  
  .debugTab-header button img {
    width: 42px;
    height: 42px;
    margin-right: 5px;
    background-color: transparent;
    border: none;
    position: absolute;
    cursor: pointer;
    top: 3px;
    right: 0;
  }
  
  /*bot tab*/
  .botTab {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .botTab h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .botTab input {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #13001f;
    color: #fff;
    margin-bottom: 10px;
    width: 300px;
    max-width: 50%;
    margin-bottom: 50%;
    font-family: 'Noto Sans Regular', sans-serif;
  
  }
  
  .botTab img {
    width: 100px;
    height: 100px;
    bottom: 53%;
  }
  
  .botTab p {
    font-size: large;
    margin-bottom: 70%;
  }
  
  
  .botTab button {
    padding: 10px 20px;
    margin: 10px;
    bottom: 20px;
    background-color: #5e0075;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
    font-size: 1rem;
    color: #fff;
    font-family: 'Noto Sans Regular', sans-serif;
  }
  
  .botTab button:hover {
    background-color: #6e0085;
  }
  
  /*Hamburger Menu*/
  .hamburgerMenu {
    display: ruby;
    position: fixed;
    background-color: #1b002b;
    color: #ffffff;
    top: 100%;
    left: 120.5%;
    height: 1%;
    width: 90%;
    border-radius: 8%;
    transition: height 0.3s ease-out, top 0.3s ease-out;
    z-index: 0;
  }
  
  .hamburgerMenu.active {
    height: 56%;
    top: 50%;
  }
  
  .hamburgerMenu.push {
    margin-left: 16%;
  }
  
  .hamburgerMenu button {
    margin: -2%;
    display: none;
    border: none;
    background: none;
    transition: height 0.3s;
    margin-left: 14%;
  }
  
  .hamburgerMenu button img {
    position: absolute;
    left: 4.5%;
    margin-top: 6%;
    height: auto;
    width: 10%;
  }
  
  .hamburgerMenu.historyconv {
    position: absolute;
    right: 84%;
    top: 4%;
    height: auto;
    width: 10%;
  }
  
  .hamburgerMenu button p {
    color: #ffffff;
  }
  
  .hamburgerMenu.active button {
    display: inherit;
  }
  
  .hamburgerMenu #slash {
    display: flex;
    margin-left: 0.5%;
    background-color: #ffffff;
    height: 0.05%;
    width: 99%;
  }
  
  /*
  background/input box color: #13001f
  sidebar color: #2c0046
  primary color: #38005e
  secondary color: #25003b
  user color: #f0a12a
  button color: #5e0075
  button hover color: #6e0085
  */
  
  